{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-5 offset-md-2 text-center">
      <h3>{% trans "Sign Up" %}</h3>

      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    </div>
  </div>
</div>
  <div class="row align-items-center justify-content-center">
    <div class="col-md-6 mt-2 offset-md-2 ">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-success text-center">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>

<!-- Text to trigger modal -->
<button type="button" id="helpmodal" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Help me
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Help instructions for Signup</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><b>Username</b></p>
        <p>Username is required.<br>
          150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
        <p><b>Email</b></p>
        <p>Email is required and must be unique.</p>
        <p><b>Password</b></p>
        <p>Password is required and must be unique.</p>
        <p>Your password can’t be too similar to your other personal information.
          Your password must contain at least 8 characters.
          Your password can’t be a commonly used password.
          Your password can’t be entirely numeric.</p>
        <p><b>VAT Number</b></p>
        <p>Must be in format XXXXXX-XXXX and start with 55.</p>
        <p><b>Phone</b></p>
        <p>In format 07XXXXXXXX as regular swedish numbers.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
