body {
    background-color: white;
    padding-bottom: 70px;
}

/* index.html */

/* Navbar */
.navbar-brand {
    color:#de6000;
    font-size: x-large;
}

.navbar-brand:hover {
    color: #de6000;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #de6000;
}

.custom-button a {
    text-decoration: none;
    color: #198754;
}

.custom-button a:hover {
    color: white;
}

/* Hero image */
#hero-image {
    background-image: url('../images/hero_image.webp');
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Call to action with button */
.cta {
    background-color: darkgrey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cta p {
    color: white;
}

/* User_orderlist */
.dividerline {
    width: 70%;
    margin: auto;
}

.toggle {
    display: none;
}

.accordion-item {
    border: 0;
}

.card {
    border: 0;
}