{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <script src="https://kit.fontawesome.com/689aa347cf.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Find and compare the best consultants for your company</title>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg position-relative">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">JobIn</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#why-use-us">Why Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#step-by-step">Step-by-step</a>
          </li>
        </ul>
        <!-- Display navbar links for logged in Customers -->
        {% if user.is_authenticated %}
        {% if user.user_type == 0 %}
        <ul class="navbar-nav position-absolute end-0 mx-3">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_orderlist' %}">Your Requests</a>
          </li>
          <button class="btn btn-outline-success my-2 my-sm-0 custom-button" type="submit"><a
              href="{% url 'account_logout' %}">Logout</a></button>
          {% endif %}
          <!-- Display navbar links for logged in Partners -->
          {% if user.user_type == 1 %}
          <ul class="navbar-nav position-absolute end-0 mx-3">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'overview' %}">Overview</a>
            </li>
            <button class="btn btn-outline-success my-2 my-sm-0 custom-button" type="submit"><a
                href="{% url 'account_logout' %}">Logout</a></button>
            {% endif %}
            {% else %}
            <button class="btn btn-outline-success my-2 my-sm-0 custom-button" type="submit"><a
                href="{% url 'account_login' %}" class="link-in-button">Login/Register</a></button>
            {% endif %}
          </ul>
      </div>
    </div>
  </nav>

  <!-- Messages to user -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
          {{ message | safe }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <main class="flex-shrink-0 main-bg">
    {% block content %}
    <!-- Content -->
    {% endblock content %}
  </main>


</body>
<!-- Footer -->
<footer class="text-muted navbar fixed-bottom">
  <div class="col-md-12 mt-4 mx-auto">
    <ul class="socials">
      <li>
        <a href="https://github.com/williamtyn" target="_blank" rel="noopener"
          aria-label="Visit developers Github page (opens in a new tab)"><i class="fa-brands fa-github"></i></a>
      </li>
      <li>
        <a href="https://linkedin.com/in/williamtyner" target="_blank" rel="noopener"
          aria-label="Visit developers LinkedIn page (opens in a new tab)"><i class="fa-brands fa-linkedin"></i></a>
      </li>
      <li>
        <a href="https://facebook.com" target="_blank" rel="noopener"
          aria-label="Visit JobIns Facebook page (opens in a new tab)"><i class="fa-brands fa-facebook"></i></a>
      </li>
    </ul>
  </div>
</footer>
<script src="{% static './js/script.js' %}" type="text/javascript"></script>
<script src="{% static './js/bootstrap.js' %}" type="text/javascript"></script>

</html>
