{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h3>Change your request</h3>
        </div>
    </div>
    <hr>
</div>
<!-- Form for making a new order as customer -->
{% if user.is_authenticated and order.responsible == request.user %}
<div class="container">
    <div class="row">
        <form method="post" style="margin-top: 1.3em;">
            {{ form | crispy }}
            {% csrf_token %}
            <br>
            <button type="submit" class="btn btn-success">Make Changes</button>
        </form>
        <div>
            <a href="{% url 'user/overview' %}" class="btn btn-outline-dark">Cancel</a>
        </div>
    </div>
</div>
<br>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            This is not your request and you do not have access to this page
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}