{% extends "base.html" %}

{% block content %}
<!--Header with hero image-->
<header>
    <!-- Hero image -->
    <div id="hero-image" class="p-5 text-center bg-image">
        <div class="overlay">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Find and compare the best consultants</h1>
                    <h4 class="mb-4">
                        Finding the right consultant is more difficult than ever.<br>
                        That's why we've made it simple.
                    </h4>
                    <a class="btn btn-outline-light btn-lg m-2" href="{% url 'account_signup' %}" role="button">Free
                        Signup</a>
                    <a class="btn btn-outline-light btn-lg m-2" href="#steps" role="button">Read more</a>
                </div>
            </div>
        </div>
    </div>
</header>

<!--Icons with text-->
<div class="container mt-5" id="why-use-us">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col text-center">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <i class="fa-solid fa-list-check"></i>
            </div>
            <h3 class="fs-2">The right competence</h3>
            <p>Our partners are some of the best in the world at finding the right one.
            </p>
        </div>
        <div class="feature col text-center">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <i class="fa-regular fa-heart"></i>
            </div>
            <h3 class="fs-2">For a easier life</h3>
            <p>Our partners present their best candidates to you. You see experience, skills, terms and prices.</p>
        </div>
        <div class="feature col text-center">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <i class="fa fa-money"></i>
            </div>
            <h3 class="fs-2">With less money</h3>
            <p>Compare and find the candidates that suit you and your business best.</p>
        </div>
    </div>
</div>
<br>
<br>

<!--Icons with text-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Are you in need of a consultant?</h2>
            <hr>
            <h3>The best tool in the world</h3>
            <p>There is no better way than via our tool.
                State your skill requirements and let our partners present their best candidates to you. In our tool,
                you can see experience, competence, availability and price in a very simple way.

                Then choose who you want to meet for an interview.
            </p>
            <p>
                Our application is 100% free of charge and no credit card required.
            </p>
            <br>
            <a class="btn btn-outline-success" href="{% url 'account_signup' %}" role="button">Make Free Request</a>
        </div>
        <div class="col-md-6">
            <img src="../static/images/mockup_overview.webp" class="img-fluid"
                alt="Image showing our application on a desktop">
        </div>
    </div>
    <br>
</div>

<!--Call to action with button-->
<div class="container-fluid py-5 cta text-center">
    <h3 class="display-5 fw-bold"></h3>
    <br>
    <br>
    <br>
    <p class="col-md-12 fs-4">
        Do you want to present your consultants?
    </p>
    <a class="btn btn-outline-light btn-lg m-2" href="{% url 'account_signup' %}" role="button">Partner Signup</a>
</div>

<!--Step By Step-->
<div class="container" id="step-by-step">
    <div class="row" id="steps">
        <div class="col-md-12 mt-5">
            <h3>Step by step how it works</h3>
            <hr>
        </div>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <i class="fa-solid fa-1"></i>
            </div>
            <div>
                <h4>Fill in your requirements</h4>
                <p>
                    Sign up as a customer for free. When you have logged in, you can make your first request for what
                    kind of consultant your company is searching <br><br>
                    Specify what requirements, experience, and soft skills the consultant should have.
                </p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <i class="fa-solid fa-2"></i>
            </div>
            <div>
                <h4>Your request goes out</h4>
                <p>
                    When your request is published, it goes out to all our partners that are connected to our service.
                    They see your request and try to match it with a consultant in their pool. When they have
                    someone who matches your requirements, they present that candidate to you with all the information
                    you need.
                </p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <i class="fa-solid fa-3"></i>
            </div>
            <div>
                <h4>Find the right consultant</h4>
                <p>
                    Candidates are being presented to you in your overview. You can, in the comfort of your office,
                    compare the consultants against each other.
                    and decide whether or not you want to meet with any of them for an interview. Contact information
                    for their manager is also presented.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5 text-center">
            <p><em>“If you always do what you've always done, you'll always get what you've always got.”</em></p>
            <hr class="dividerline">
        </div>
    </div>
</div>
<!-- Back to top button -->
<button type="button" class="btn btn-danger btn-floating" onclick="toTheTop()" id="scrollbtn"><i class="fa-solid fa-arrow-up"></i></button>

{%endblock%}