{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-10">
            <h3>Active Requests</h3>
            <p>See all active requests</p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <hr>
</div>
<!-- Showing each active order as a collapse -->
<div class="container">
    <div class="row">
        {% for order in order_list %}
        <div class="accordion" id="accordionExample">
            <!-- Order header/titel -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#ord{{ order.id }}" aria-expanded="true" aria-controls="collapseOne">
                        {{ order.title }}
                    </button>
                </h2>
            </div>
            <!-- Order body -->
            <div id="ord{{ order.id }}" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="container accordion-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-2">
                            <h5>Role</h5>
                            {{ order.role }}
                        </div>
                        <div class="col-sm-6 col-md-2">
                            <h5>Period</h5>
                            {{ order.period }}
                        </div>
                        <div class="col-sm-6 col-md-2">
                            <h5>Startdate</h5>
                            {{ order.startdate }}
                        </div>
                        <div class="col-sm-6 col-md-2">
                            <h5>City</h5>
                            {{ order.locality }}
                        </div>
                        <div class="col-sm-6 col-md-2">
                            <h5>Deadline</h5>
                            {{ order.deadline }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <h5>Duties</h5>
                            {{ order.duties }}
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <h5>Requirements</h5>
                            {{ order.requirements }}
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <h5>Wishes</h5>
                            {{ order.wishes }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <br>
                            <a href="{% url 'new-candidate' %}"><button class="btn btn-success">Send
                                    Candidate</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>

{% endblock content %}