{% extends 'base.html' %} 

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-10">
            <h3>Your Request Overview</h3>
            <p>Manage your active requests</p>
        </div>
        <div class="col-md-2">
            <br>
            <button type="button" class="btn btn-success">New Request</button>
        </div>
    </div>
    <hr>
</div>
<!-- Showing each customer order as a collapse -->
<div class="container">
  <div class="row">
    {% for order in user_orders %}
      <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <div class="row">
                      {{ order.title }}
                  </div>
                </button>
              </h5>
            </div>
        
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
              <div class="row">
                  <div class="col-2">
                      <h5>Role</h5>
                      {{ order.role }}
                  </div>
                  <div class="col-2">
                      <h5>Period</h5>
                      {{ order.period }}
                  </div>
                  <div class="col-2">
                      <h5>Startdate</h5>
                      {{ order.startdate }}
                  </div>
                  <div class="col-2">
                      <h5>City</h5>
                      {{ order.locality }}
                  </div>
                  <div class="col-2">
                      <h5>Deadline</h5>
                      {{ order.deadline }}
                  </div>
                  <div class="col-2">
                      <a href="/edit/{{ order.id }}"><button type="button" class="btn btn-outline-success">Edit Request</button></a>
                      <a href="/delete/{{ order.id }}" onclick="confirmDelete()"><button type="button" class="btn btn-outline-danger">Delete</button></a>
                  </div>
                  </div>
                  <br>
              <div class="row">
              <div class="col-4">
                  <h5>Duties</h5>
                  {{ order.duties }}
              </div>
              <div class="col-4">
                  <h5>Requirements</h5>
                  {{ order.requirements }}
              </div>
              <div class="col-4">
                  <h5>Wishes</h5>
                  {{ order.wishes }}
              </div>
              </div>
          </div>
          </div>
      </div>
      <br>
      {% endfor %}
  </div>
</div> 
{% endblock content %}