{% extends 'base.html' %}
{% load cloudinary %}
{% load static %}
{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-10">
      <h3>Your Request Overview</h3>
      <p>Manage your active requests</p>
    </div>
    <div class="col-md-2">
      <br>
      <a href="/new_order"><button class="btn btn-success">New Request</button></a>
    </div>
  </div>
  <hr>
</div>
<!-- Showing each customer order as a collapse -->
<div class="container">
  {% for order in user_orders %}
  <div class="row">
    
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <!-- Order header/titel -->
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#order{{ order.id }}"
            aria-expanded="true" aria-controls="collapseOne">
            {{ order.title }}
          </button>
        </h2>
      </div>
      <!-- Order body -->
      <div id="order{{ order.id }}" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="container accordion-body">
          <div class="row">
            <div class="col-sm-6 col-md-2">
              <h5>Role</h5>
              {{ order.role }}
            </div>
            <div class="col-sm-6 col-md-2">
              <h5>Period</h5>
              {{ order.period }}
            </div>
            <div class="col-sm-6 col-md-2">
              <h5>Startdate</h5>
              {{ order.startdate }}
            </div>
            <div class="col-sm-6 col-md-2">
              <h5>City</h5>
              {{ order.locality }}
            </div>
            <div class="col-sm-6 col-md-2">
              <h5>Deadline</h5>
              {{ order.deadline }}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <h5>Duties</h5>
              {{ order.duties }}
            </div>
            <div class="col-sm-12 col-md-4">
              <h5>Requirements</h5>
              {{ order.requirements }}
            </div>
            <div class="col-sm-12 col-md-4">
              <h5>Wishes</h5>
              {{ order.wishes }}
            </div>
          </div>
          <!-- Buttons for edit and deleting Order -->
          <div class="row">
            <div class="col-12 text-center">
              <br>
              <a href="/edit/{{ order.id }}"><button type="button" class="btn btn-outline-success">Edit
                  Request</button></a>
              <a href="/delete/{{ order.id }}"><button type="button"
                  class="btn btn-outline-danger">Delete</button></a>
            </div>
          </div>
        </div>
        <br>
        <hr class="dividerline">
        <br>
        <!-- Showing each candidate presented from Partner -->
        <div class="col-12 text-center">
          <h5>Candidates</h5>
          <button type="button" onclick="toggleCandidates(event)" class="btn btn-outline-success">Show
            Candidates</button>
          <br>
          <br>
        </div>
        <div class="row toggle">
          <!-- Check if model have any candidates presented otherwise displaying else statement -->
          {% if order.candidate_set.all.count > 0 %}
          {% for candidate in order.candidate_set.all %}
          <div class="col-sm-12 col-md-4 text-center">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ candidate.first_name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ candidate.price }}</h6>
                <p class="card-text">{{ candidate.summary }}</p>
                <a href="{{ candidate.cv.url }}" target="_blank" class="card-link"><button type="button"
                    class="btn btn-success">See CV</button></a>
                <a href="{{ candidate.offer.url }}" target="_blank" class="card-link"><button type="button"
                    class="btn btn-outline-success">See Offer</button></a>
                <a href="mailto:{{ candidate.manager.email }}" class="card-link"><button type="button"
                    class="btn btn-outline-dark">Contact Manager</button></a>
              </div>
            </div>
          </div>
          <br>
          {% endfor %}
          <!-- Showing message if no candidates have been presented -->
          {% else %}
          <div class="row">
            <p class="text-center"><i>You do not have any presented candidates on this request</i></p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
